
@use '@cloudscape-design/design-tokens/index' as awsui;

html {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Roboto, Arial, sans-serif
}

th, td { vertical-align: top; }

hr {
  height: 2px;
  background-color: #e9ebed;
  border: none;
  .awsui-dark-mode & {
    background-color: #414d5c;
  }
}

.copyright {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: awsui.$color-background-cell-shaded;
  img {
    width: 100%;
  }
}

.card-image-wide {
  height: 165px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: awsui.$color-background-cell-shaded;
  img {
    height: 100%;
  }
}

[class^='awsui_card-header_'] a:not(#\9),
[class*='awsui_card-header_'] a:not(#\9) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


[class^='awsui_variant-default_'], [class*=' awsui_variant-default_'] {
  max-width: 1024px;
}
