
@use '@cloudscape-design/design-tokens/index' as awsui;

th, td { vertical-align: top; }

hr {
  height: 2px;
  background-color: #e9ebed;
  border: none;
}

.card-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: awsui.$color-background-cell-shaded;
  img {
    width: 100%;
  }
}

.card-image-wide {
  height: 165px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: awsui.$color-background-cell-shaded;
  img {
    height: 100%;
  }
}

[class^='awsui_card-header_'] a:not(#\9),
[class*='awsui_card-header_'] a:not(#\9) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


[class^='awsui_variant-default_'], [class*=' awsui_variant-default_'] {
  max-width: 1024px;
}
