
@use '@cloudscape-design/design-tokens/index' as awsui;

footer {
  background-color: awsui.$color-background-container-header;
  height: 4.3rem;
}

.card-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    width: 100%;
  }
}
