
@use '@cloudscape-design/design-tokens/index' as awsui;

.card-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    width: 100%;
  }
}

[class^='awsui_card-header_'], [class*=' awsui_card-header_'] {
  min-height: 3.1rem;
}

.card-image {
  background-color: awsui.$color-background-cell-shaded;
}