@use '@cloudscape-design/design-tokens/index' as awsui;

@import 'variables';
@import 'functions';

// reset

::selection, ::-moz-selection {
  background: rgba(128, 43, 232, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scrollbar-color: var(--light-purple) var(--purple);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: 1ms !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

th, td { vertical-align: top; }

iframe {
  border: none;
  width: 100%;
}
main iframe {
  min-height: 10rem;
}

img, video {
  object-fit: cover;
  width: 100%;
  min-width: 0;
  z-index: 2;
}

hr {
  margin: var(--gutter-horizontal) auto;
  border: none;
  height: 2px;
  background-color: #e9ebed;
  &.no-bottom {
    margin: var(--gutter-horizontal) auto 0;
  }
  .awsui-dark-mode & {
    background-color: #414d5c;
  }
}

svg {
  display: block;
}


// typography

html {
  font-family: var(--default-font)
}

p, li, dd, dt, label {
  max-width: 2000px;
  text-wrap: balance;
}

li { margin-left: 20px; }

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  max-width: 90vw;
}

h1, h1 span {
  font-weight: 400;
  z-index: 2;
  text-align: left;
  max-width: calc(90vw + -23 * var(--scale));;
  filter: drop-shadow(0px 0px scaled(0.65, 1) black);
}

h2, h3 {
  font-weight: 700;
  margin: 7px 0 5px;
}


// utilities

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.hide { display: none; }


// custom

.copyright {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: awsui.$color-background-cell-shaded;

  &.down {
    border-top-right-radius: 0;
    border-bottom-left-radius: scaled(16, 40);
  }

  &.up {
    border-bottom-left-radius: 0;
    border-top-right-radius: scaled(16, 40);
  }
}

.card-image-wide {
  height: 165px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: awsui.$color-background-cell-shaded;
  img {
    height: 100%;
  }
}

[class^='awsui_logo'],
[class*='awsui_logo'] {
  border-radius: 100%;
}

[class^='awsui_card-header_'] a:not(#\9),
[class*='awsui_card-header_'] a:not(#\9) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-decoration-line: none !important;
}

[class^='awsui_utilities'] a {
  white-space: nowrap !important;
}

[class^='awsui_variant-default_'], [class*=' awsui_variant-default_'] {
  max-width: 1024px;
}

[class^='awsui_info'] a {
  font-size: 0.78rem;
  color: #91D7F1; // same for light and dark mode
  text-decoration: none;
  padding-left: 0.33rem;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

[class^='awsui_media'] img {
  max-height: 500px;
}

// slideshow

.slick-slider {
  padding: 35px;

  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-next:before, .slick-prev:before {
    color: black;
  }
  .slick-dots {
    bottom: 25px;
    left: -25px;
  }
}
