
@use '@cloudscape-design/design-tokens/index' as awsui;

th, td { vertical-align: top; }

.card-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: awsui.$color-background-cell-shaded;
  img {
    width: 100%;
  }
}

.card-image-wide {
  height: 165px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: awsui.$color-background-cell-shaded;
  img {
    height: 100%;
  }
}

[class^='awsui_card-header_'], [class*=' awsui_card-header_'] {
  min-height: 3.1rem;
}


[class^='awsui_variant-default_'], [class*=' awsui_variant-default_'] {
  max-width: 1024px;
}
